x-node: &node
  image: node:22-alpine
  working_dir: /app
  command: ["yarn", "install"]
  volumes:
    - ./:/app
    - node_modules:/app/node_modules
  environment:
    - NODE_ENV=development

services:
  assets:
    <<: *node
    command: ["sh", "-c", "yarn install && yarn serve:assets"]
    ports:
      - 8081:8081

  engine:
    <<: *node
    command: ["sh", "-c", "yarn install && yarn watch"]
    ports:
      - 1234:1234

volumes:
  node_modules:
